<div class="container-fluid">
    <div class="row" style=" opacity: 1;" data-aos="fade-up">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="border: 2px solid orange; text-align: center;border-radius: 60px; display: flex;">
           
            <h1 style="color: cornsilk; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 90px;" aria-setsize="20px" data-aos="fade-right" data-aos-duration="1000">  Vibhu Gautam</h1>
            <!-- <img src="../../assets/vibhu2.PNG" alt="" width="130px" height="200px" style="border-radius: 20px;opacity: 1;"data-aos="fade-left"
            data-aos-duration="1000">       -->
                
        </div>
        <div class="col-md-3"></div>
    </div>>

      <div class="row" >
          <div class="col-md-2"></div>
        <div class="col-md-8" style="border: 2px solid rgb(28, 165, 219); text-align: center;border-radius: 40px; display: flex;">
            <br>
            <br>
            <p data-aos="fade-up"
            data-aos-duration="1000" style="font-style:oblique; color: cornsilk; font-size: 20px;">
            "Looking for an opportunity to work as team member, where I can utilize my knowledge and proficiency in an
            efficient manner. Open to work in any web technology"</p>
        </div>
        <div class="col-md-2"></div>
      </div>
</div>