<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col-md-12" >
            <h1 data-aos="fade-up" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: cornsilk;">Projects</h1>
            <br>
        </div>
    </div>
    <div class="row" style="border: 2px solid skyblue; border-radius: 25px;" data-aos="fade-up">
        <div class="col-md-2">
        </div>
        <div class="col-md-2" data-aos="fade-right" data-aos-duration="1000">
            <img src="../../assets/portfolio.PNG" alt="" width=max height="130px" style="border-radius: 25px; padding: 10px 0px 10px 0px;">
        </div>

        <div class="col-md-8"  data-aos="fade-left" data-aos-duration="1000">
            <br>
            <h4>First portfolio using Angular.</h4>
            <p><a href="https://portfolio2-bfbab.web.app" target="_blank">https://portfolio2-bfbab.web.app</a></p>
            <ngb-rating [rate]="3"  [readonly]="true" [max]="5" ></ngb-rating>
        </div>
    </div>
    <br>
    <div class="row" style="border: 2px solid brown; border-radius: 25px;" data-aos="fade-up"> 
        <div class="col-md-2">
        </div>  
        <div class="col-md-2" data-aos="fade-right" data-aos-duration="1000">
            <img src="../../assets/weather.PNG" alt="" width="max" height="130px" style="border-radius: 25px; padding: 10px 0px 10px 0px;">
        </div>  
   
        <div class="col-md-8" data-aos="fade-left" data-aos-duration="1000">
            <br>
            <h4>Weather Application using NodeJS.</h4>
            <p><a href="https://drogo-weather-application.herokuapp.com/" target="_blank">https://drogo-weather-application.herokuapp.com/</a></p>
            <ngb-rating [rate]="2"  [readonly]="true" [max]="5" ></ngb-rating>
        </div>
       
    </div>
    <br>
    <div class="row" style="border: 2px solid pink; border-radius: 25px;" data-aos="fade-up">
        <div class="col-md-2">
        </div>  
        <div class="col-md-2" data-aos="fade-right" data-aos-duration="1000" >
            <img src="../../assets/todo.PNG" alt="" width="max" height="130px" style="border-radius: 25px; padding: 10px 0px 10px 0px;">
        </div>

        <div class="col-md-8"  data-aos="fade-left" data-aos-duration="1000">
            <br>
            <h4>To-do-Application using JavaScript.</h4>
            <p><a href="https://gifted-shirley-40b6c8.netlify.com/" target="_blank">https://gifted-shirley-40b6c8.netlify.com/</a></p>
            <ngb-rating [rate]="3"  [readonly]="true" [max]="5" ></ngb-rating>
        </div>
    </div>
</div>