
<div class="container-fluid">

  <div class="row">
    <div class="col-md-12" style="text-align: center;">
        <h1 data-aos="fade-up" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: cornsilk;">Skills</h1>
        <br>
    </div>
  </div>
  <div class="row" style="text-align: center;" *ngIf="skills">
    <div class="col-md-1"></div>
    <div class="col-md-4" style="border: 2px solid red; border-radius: 25px;" data-aos="fade-right" data-aos-duration="1000">
      <br>
      <h4>Angular</h4>
      <h5 class="card-title"><fa-icon [icon]="faAngular" size="3x" [styles]="{'color': 'red'}"></fa-icon></h5>
      <button class="btn btn-outline-light "  (click)="angular()">more...</button>   
      <br>
      <br>
    </div>
    <div class="col-md-2"><br></div>
    <div class="col-md-4" style="border: 2px solid yellow; border-radius: 25px;" data-aos="fade-left" data-aos-duration="1000">
      <br>
      <h4>JavaScript</h4>
      <h5 class="card-title"><fa-icon [icon]="faJs" size="3x" [styles]="{'color': 'yellow'}"></fa-icon></h5>
      <button class="btn btn-outline-light "  (click)="javascript()">more...</button> 
      <br>
      <br>
    </div>
    <div class="col-md-1"></div>
  </div>
  <br>
  <div class="row" style="text-align: center;" *ngIf="skills">
    <div class="col-md-1"></div>
    <div class="col-md-4" style="border: 2px solid green; border-radius: 25px;" data-aos="fade-right" data-aos-duration="1000">
      <br>
      <h4>Node</h4>
      <h5 class="card-title"><fa-icon [icon]="faNodeJs" size="3x" [styles]="{'color': 'green'}"></fa-icon></h5>
      <button class="btn btn-outline-light "  (click)="node()" >more...</button>   
      <br>
      <br>
    </div>
    <div class="col-md-2"><br></div>
    <div class="col-md-4" style="border: 2px solid purple; border-radius: 25px;" data-aos="fade-left" data-aos-duration="1000">
      <br>
      <h4>Bootstrap</h4>
      <h5 class="card-title"><fa-icon [icon]="faBootstrap" size="3x" [styles]="{'color': 'purple'}"></fa-icon></h5>
      <button class="btn btn-outline-light "  (click)="bootstrap()">more...</button> 
      <br>
      <br>
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <div class="row" *ngIf="!skills" style="opacity: 0.8;">
    <div class="col-md-12" style="opacity: 1;" data-aos="zoom-in-down" data-aos-duration="1000">
        <div class="card text-center bg-dark">
            <div class="card-header">
              <h2>{{skill}}</h2>
            </div>
            <div class="card-body" >
                <div *ngIf="!a">
                    <h5 class="card-title" data-aos="fade-up" ><fa-icon [icon]="faAngular" size="3x" [styles]="{'color': 'red'}"></fa-icon></h5>
                </div>
                <div *ngIf="!n">
                    <h5 class="card-title" data-aos="fade-up"><fa-icon [icon]="faNodeJs" size="3x" [styles]="{'color': 'green'}"></fa-icon></h5>
                </div>
                <div *ngIf="!j">
                    <h5 class="card-title" data-aos="fade-up"><fa-icon [icon]="faJs" size="3x" [styles]="{'color': 'yellow'}"></fa-icon></h5>
                </div>
                <div *ngIf="!b">
                    <h5 class="card-title" data-aos="fade-up"><fa-icon [icon]="faBootstrap" size="3x" [styles]="{'color': 'purple'}"></fa-icon></h5>
                </div>
              
              
              <ul class="list-group list-group-flush" *ngFor = "let a of arr"data-aos="fade-up"  >
                <li class="list-group-item bg-dark" data-aos="fade-up" >{{a}}</li>
              </ul>
              <ngb-rating [(rate)]="currentRate"  [readonly]="true" [max]="5"  ></ngb-rating>
              <br>
              <button class="btn btn-outline-light "  (click)="skillClose()" >Back</button>
              <br>
            </div>
          </div>
    </div>
</div>