<app-navbar></app-navbar>
<br>
<app-skills></app-skills>

<!-- <div class="container-fluid">
  <div class="row" style="background-image: linear-gradient(lightblue,white); width: auto; height: auto; display: flex">
    <div class="col-md-2">
      <br>
       <img src="https://cdn.clipart.email/7638cf81b378bb16af7ab26dfef0bf65_computer-icons-source-code-coder-transparent-background-png-_800-800.jpeg" alt="coder"
      width="320px" height="auto" style="opacity: 0.1;">
      <fa-icon [icon]="faCode" size="10x"[styles]="{'color': 'white'}"></fa-icon>
    </div>
    <div class="col-lg-10">
      <br>
      <hr style="border: 4px solid; border-radius: 5px;">
      <h1>Vibhu Gautam</h1>
      <hr style="border: 4px solid; border-radius: 5px;">
      <h3 style="text-align: center;">Project Engineer</h3>
      <br>
      <div class="row" style="display: flex;">
        <div class="col-lg-4 col-12">
          <h6><fa-icon [icon]="faMailBulk" size="2x" [spin]="false" [styles]="{'color': 'Blue'}"></fa-icon> vibhugautam51@gmail.com</h6>
          
        </div>

        <div class="col-lg-3 col-12">
          <h6><fa-icon [icon]="faPhone" size="2x" [spin]="false"[styles]="{'color': 'green'}"></fa-icon> +91-9770119534</h6> 
        </div>
        <div class="col-lg-5 col-12">
          <h6><fa-icon [icon]="faLinkedinIn" size="2x" [spin]="false" [styles]="{'color': 'skyblue'}"></fa-icon> linkedin.com/in/vibhu-gautam-9533a511a</h6>
        </div>  
      </div>

    </div>
  </div>
</div>
<br>
<div class="container-fluid">
  <br>
  <div class="row"  >
    <div class="col-md col-order-12">
      <br>
      <h3 style="text-align: center;"> Skills</h3>
      <br>
      <div class="row" style="display: flex;">
        <div class="col-md">
          <h4><fa-icon [icon]="faAngular" size="2x" [styles]="{'color': 'red'}"></fa-icon> Angular</h4> 
        </div>
        <div class="col-md">
          <h4><fa-icon [icon]="faHtml5" size="2x" [styles]="{'color': 'orange'}"></fa-icon> HTML</h4> 
        </div>
        <div class="col-md">
          <h4><fa-icon [icon]="faJs" size="2x" [styles]="{'color': 'yellow'}"></fa-icon> JavaScript</h4> 
        </div>
        <div class="col-md">
          <h4><fa-icon [icon]="faBootstrap" size="2x" [styles]="{'color': 'purple'}"></fa-icon> Bootstrap</h4> 
        </div>
      </div>
    </div>
    <div class="col-md-3 col-order-1">
      <fa-icon [icon]="faCogs" size="9x" [styles]="{'color': 'grey'}"></fa-icon>
  </div>
  </div>
</div>
<br>
<div class="container-fluid">
  
  <div class="row" style="background-image: linear-gradient(white,grey); width: auto; height: auto; display: flex">
    <div class="col-md-2">
      <br>
      <br>
      <br>
      <fa-icon [icon]="faBriefcase" size="10x" [styles]="{'color': 'white'}"></fa-icon>
    </div>
    <div class="col-md">
      <br>
      <br>
      <h3 style="text-align: center;">Work Experience</h3>
      <h4>Wipro Technologies</h4>
      <br>
      <div class="row" style="display: flex;">
        <div class="col-md">
          <h6><fa-icon [icon]="faUserclock" size="2x" [styles]="{'color': 'magenta'}"></fa-icon> Aug 2018 – present (1 Year 6 months).</h6>
        </div>
        <div class="col-md">
          <h6><fa-icon [icon]="faStreetView" size="2x" [styles]="{'color': 'brown'}"></fa-icon> Airoli, Navi Mumbai, Maharashtra, India.</h6>
        </div>
        
        
      </div>


        
      
      
    </div>
  </div>

</div> -->